<div id="divLeftArrow">
<a href="#"></a>
</div>

<div id="divProductHolder" class="cTextHolder cAnim">

<div class="cProduct">
  <h1>Iowa <span style="font-size:.7em">(page 1 of 2)</span></h1>

  <ul>
    
    <li><a target="_blank" href=
    "http://www.aircuity.com/Marketing/index.asp">Aircuity</a> <span class=
    "cDescription">indoor air quality &amp; building optimization</span></li>
    

    <li><a target="_blank" href="http://www.ambirad.com/index.php">Ambirad</a>
    <span class="cDescription">radiant tube infa-red heating systems</span></li>

    

    <li><a target="_blank" href="http://www.appliedair.com/">Applied Air</a>
    <span class="cDescription">make-up air &amp; air turnover units</span></li>

    <li><a target="_blank" href="http://www.bernerenergy.com/">Berner Energy
    Recovery</a> <span class="cDescription">energy recovery units</span></li>



    <li><a target="_blank" href="http://www.critical-environment.com/">Critical Environment
    Technologies</a> <span class="cDescription">CO, NO2 and Refrigerant Gas
    Detection</span></li>
    


  </ul>

  <ul>
  
    
    
    <li><a target="_blank" href=
    "http://www.duoaire.com/Index.html">Duo-Aire</a><span class=
    "cDescription">make-up air units &amp; kitchen hoods</span></li>

            <li><a target="_blank" href="http://www.gaylordusa.com/">Gaylord Industries</a>
    <span class="cDescription">kitchen hoods &amp; energy recovery units</span></li>


   <li><a target="_blank" href="http://www.heatpipe.com/">Heat Pipe Technology</a>
    <span class="cDescription">dehumidifier &amp; energy recovery heat
    pipes</span></li>

    <li><a target="_blank" href="http://www.kineticsnoise.com/">Kinetics</a> <span class="cDescription">Sound Attenuators &amp; Acoustical
    Housings</span></li>

   <li><a target="_blank" href="http://www.maxi-therm.net/accueil.html">Maxi-Therm</a> <span class="cDescription">Steam to Water Heat Exchangers &amp;
    Clean Steam Generators</span></li>

  </ul>
</div>

<div class="cProduct" style="display:none;">
  <h1>Iowa <span style="font-size:.7em">(page 2 of 2)</span></h1>

  <ul>
  
    <li><a target="_blank" href="http://www.nsgv.com/">NSGV <span style= "font-size:.7em;">(National System of Garage Ventilation)</span> </a><span class="cDescription">
    Gas / Diesel / Welding Source Capture Systems
    </span></li>

    <li><a target="_blank" href="http://www.onicon.com/index.shtml">Onicon</a>
    <span class="cDescription">turbine flow meters, steam vortex meters &amp; BTU
    meters</span></li>

    <li><a target="_blank" href="http://www.phoenixcontrols.com/">Phoenix
    Controls</a> <span class="cDescription">fume hood &amp; isolation room controls
    &amp; valves</span></li>
    
           
  </ul>

  <ul>
    
    
    <li><a target="_blank" href="http://www.safeair-dowco.com/">Safe-Air / Dowco</a> <span class=
    "cDescription">dampers &amp; louvers</span></li>


   <li><a target="_blank" href="http://ats.stulz.com/">Stulz Air Technology Systems</a> <span class="cDescription">ultrasonic
    humidifiers</span></li>
    
  </ul>
</div>


</div>

<div id="divRightArrow">
<a href="#"></a>
</div>
<script type="text/javascript">
    // $(function () {
    // $('#divRightArrow').click(function () {
    // $('.cProduct:visible').hide().next().show();
    // if ($('.cProduct:visible').length == 0) {
    // $('.cProduct:first').show();
    // }
    // });
    // $('#divLeftArrow').click(function () {
    // $('.cProduct:visible').hide().prev().show();
    // if ($('.cProduct:visible').length == 0) {
    // $('.cProduct:last').show();
    // }
    // });
    // });
</script>