<!DOCTYPE html>
<html>
<head>
    <title>Specialized Products, Inc.</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/design.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="divContainer">
        <div id="divTopBar">
            <a title="Home Page" href="/"></a>
        </div>
        <div id="divMainBlock">        
            <div id="divMainContent">
                <div id="divContentArea">
                    <%= yield %>
                </div>
                <ul id="ulMenu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/teamspi">Team SPI</a></li>
                    <li><a href="/featured">Featured Projects</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/ui.effects.core.js"></script>
    <script type="text/javascript" src="/javascripts/effects.slide.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
        function fTransition(sSlideSelector, bForward) {
            if ($(sSlideSelector + ':animated').length == 0) {
                if (bForward) {
                    var oNext = $(sSlideSelector + ':visible').next();
                } else {
                    var oNext = $(sSlideSelector + ':visible').prev();
                }
                if (oNext.length == 0 && bForward) {
                    // move the first one to the end
                    $(sSlideSelector + ':visible').after($(sSlideSelector + ':first'));
                    oNext = $(sSlideSelector + ':visible').next();
                } else if (oNext.length == 0 && !bForward) {
                    // move the last one to the beginning
                    $(sSlideSelector + ':visible').before($(sSlideSelector + ':last'));
                    oNext = $(sSlideSelector + ':visible').prev();
                }

                if (bForward) {
                    $(oNext).css({ 'display': 'inline' });
                }

                $(sSlideSelector + ':visible').hide("slide", { direction: (bForward ? 'left' : 'right') }, 400);
                setTimeout(function () {
                    $(oNext).show("slide", { direction: (bForward ? 'right' : 'left') }, 400);
                }, 400);
 

            }
        }
        $(function () {
            /*
            // rotate the banner!
            var nOffset = 0;
            setInterval(function () {
            nOffset += (1071/9); // height of entire image / # of slides
            $('#divTopBar').animate({ backgroundPositionY: nOffset }, 1500);
            }, 5000);
            */
            // make the menu links load their content via AJAX!!
            $('#ulMenu a, a.cAnimPage').live('click', function () {
                // slide the content area upward
                //$('#divMainContent').animate({ height: 82 }, 1500);
                var self = this;
                $('#divMainBlock').hide("slide", { direction: 'up', callback: function () {
                    $.ajax({
                        url: $(self).attr('href'),
                        cache: false,
                        success: function (oData) {
                            $('#divContentArea').html($('#divContentArea', oData).html());
                            //$('#divMainContent').animate({ height: 492 }, 1500);
                            $('#divMainBlock').show("slide", { direction: 'up' }, 1000);

                        }
                    });
                }
                }, 1000);
                return false;
            });

            // animate the arrows!
            $('#divRightArrow a').live('click', function () {
                fTransition('.cAnim > div', true);
                $(this).blur(); // remove those annoying dotted outlines
            });
            $('#divLeftArrow a').live('click', function () {
                fTransition('.cAnim > div', false);
                $(this).blur(); // remove those annoying dotted outlines
            });

            // Make the arows glow!
      var glowOn = function(){ };
      
      var glowOff = function(){ 
        if($('#divRightArrow').length > 0) {
          $('#divRightArrow').animate({ 'opacity':'0.4', 'filter': 'alpha(opacity=40)' }, 1000, 'linear', glowOn); 
        } else {
          setTimeout(glowOn, 1000);
        }
      };
      
      var glowOn = function(){ 
        if($('#divRightArrow').length > 0) {
          $('#divRightArrow').animate({ 'opacity':'1', 'filter': 'alpha(opacity=100)' }, 1000, 'linear', glowOff); 
        } else {
          setTimeout(glowOff, 1000);
        }
        
        // Fix for IE, which doesn't support opacity:
        if(!$.support.opacity) {
          $('#divRightArrow').css('background-image','url(/images/rightarrow.gif)');
        }
      };
      
      glowOff();
      
      var photo = 0;
      var photo_interval = window.setInterval(function() {
        $('img.home_photo').eq(photo).fadeOut(1000, function() {
          $('img.home_photo').hide();
          photo += 1;
          if (photo >= 5) { photo = 0; };
          $('img.home_photo').eq(photo).fadeIn(1000);
        });
      }, 8000);
            
        });
    </script>
</body>
</html>
