
<div id="divProjHolder" class="cAnim">
  <div id="divTextHolder">
    <h1>
        Featured Projects
    </h1>
  <p>
    COE COLLEGE Cedar Rapids IA Phoenix Controls Completion date- 2012 
    <br />Contact Tom Koeppel (515)554-2589  
  </p>
  <p>
    PBDB Iowa City IA Phoenix Controls and Aircuity Completion date- 2014 
    <br />Contact Scott Luetkenhaus (515)556-5834  
  </p>
  <p>
    HOMELAND SECURITY Lincoln NE Aircuity Completion date- 2012 
    <br />Contact Rick Lochmiller (402)578-7175  
  </p>
  <p>
    BLAIR NATURE WORKS Blair NE Phoenix Controls Completion date- 2012 
    <br />Contact Rick Lochmiller (402)578-7175
  </p>
  </div>
</div>