<div id="divLeftArrow">
    <a href="#"></a>
</div>
<div id="divProjHolder" class="cAnim">
    
    
    <div class="cProj">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 1 of 10)</span>
        </div>
        <div class="cPic">
            <img src="/images/hachhall.jpg" />
        </div>
        <div class="cProjName">  
           <span class="cClient">Iowa State University Hach Hall</span>
        </div>
        <div class="cProjDetails">
            <p>
                Equipment  Provided:  
                <ul>
                    <li><b>Phoenix  Controls:</b> Lab  and  Fume  Hood  Controls  </li>
                </ul>
                
            </p>
            <p>
                Project  Note:  <br />
                <span style="font-size:.8em">
                ISU is achieving great levels of energy efficiency with their Phoenix Controls system by coupling it with an additional level of Fume Hood controls. The Phoenix Controls Zone Presence Sensor is used on every hood at Hach Hall to lower the face velocity through the hoods when operators are not present. The airflow levels remain high enough to ensure safety while allowing for 40% flow reduction for energy savings at every fume hood. 
                </span>
            </p>
        </div>
    </div>
    
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 2 of 10)</span>
        </div>
        <div class="cPic">
            <img src="/images/NEStateLab.jpg" />
        </div>
        <div class="cProjName">  
           <span class="cClient">Nebraska State Laboratory</span>
        </div>
        <div class="cProjDetails">
            <p>
                Equipment  Provided:  
                <ul>
                    <li><b>Phoenix  Controls:</b> Lab  and  Fume  Hood  Controls  </li>
                </ul>
                
            </p>
            <p>
                Project  Note:  <br />
                The NE State Lab has renovated their laboratory and fume hood controls to increase safety. They are also utilizing a Variable Air Volume system to allow for energy savings based on hood use and temperature demand.
            </p>
        </div>
    </div>
    
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 3 of 10)</span>
        </div>
        <div class="cPic">
            <img src="/images/featuredprojects4picture.png" />
        </div>
        <div class="cProjName">  
           <span class="cClient">Grinnell  College  Noyce  Science  Center</span>
        </div>
        <div class="cProjDetails">
            <p>
                Equipment  Provided:  
                <ul>
                    <li><b>Phoenix  Controls:</b> Lab  and  Fume  Hood  Controls  </li>
                </ul>
                
            </p>
            <p>
                Project  Note:  <br />
                Phoenix  Controls  provided  a  fully  digital  lab  and  fume  hood  controls  
                system for  Grinnell  College,  completely  integrated  to  the  building  
                control  system for  ease  of  use  to  the  owner.
            </p>
        </div>
    </div>
        
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 4 of 10)</span>
        </div>
        <div class="cPic">
            <img src="/images/featuredprojects3picture.png" />
        </div>
        <div class="cProjName">    
           <span class="cClient">University  of  Nebraska  at  Kearney</span>
        </div>
        <div class="cProjDetails">            
            <p>
                Equipment  Provided:  
                <ul>
                    <li><b>Phoenix  Controls:</b> Lab  and  Fume  Hood  Controls  </li>
                    <li><b>Onicon:  </b>Steam and  Water  Meters</li>
                </ul>
            </p>
            <p>
                Project  Note:  <br />
                Variable air volume laboratory airflow and hood controls make energy savings a real part of the labs at UNK. Both Fume Hood and room air vary based on demand throughout the facility.
            </p>
        </div>
    </div>
        
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 5 of 10)</span>
        </div>
        <div class="cPic">
            <img src="/images/featuredprojects5picture.png" />
        </div>
        <div class="cProjName">   
           <span class="cClient">Nebraska  Medical  Center</span>
        </div>
        <div class="cProjDetails">
            <p>
                Equipment  Provided:  <br />
                <ul>
                    <li><b>Precision  Air  Products:  </b>Operating  Room Ceiling  Systems</li>
                    <li><b>Critical Room Control:</b> Room Pressure Monitors</li>
                </ul>
                
            </p>
            <p>
                Project  Note:  <br />
                17  operating  room ceiling  systems  were  provided  from Precision  Air  
                Products  allowing  for  both  aesthetic  alignment  and  ease  of  installation  
                from room to  room. CRC Room Pressure Monitors were also provided for a number of 
                Isolation Rooms. CRC displays local differential pressure and communicates with the BMS system.

            </p>
        </div>
    </div>
        
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 6 of 10)</span>
        </div>
        <div class="cPic">
            <img src="/images/featuredprojects2picture.png" />
        </div>
        <div class="cProjName"> 
           <span class="cClient">Alegent  Health  Midlands  Hospital</span>
        </div>
        <div class="cProjDetails">
            <p>
                Equipment  Provided:  <br />
                <ul>
                    <li><b>Precision  Air  Products:  </b>Operating  Room Ceiling  System</li>
                    <li><b>Tuttle  and  Bailey: </b>Single  Duct  Variable  Air  Volume  Boxes,  Grilles,  
                Registers  & Diffusers</li>
                </ul>

            </p>
            <p>
                Project  Note:  <br />
                Precision Air Products provided a fully integrated ceiling system 
                with the grid framing, diffusers and blank-off panels for the O.R.  
                As a single source equipment solution, reliability and responsibility 
                are made simple. Tuttle and Bailey provided air distribution equipment throughout the facility.                    
            </p>
        </div>
    </div>
        
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 7 of 10)</span>
        </div>
        <div class="cPic">
            <img src="/images/featuredprojectspicture.png" />
        </div>
        <div class="cProjName">
           <span class="cClient">Lincoln  Public  School  Prescott  Elementary</span>
        </div>
        <div class="cProjDetails">            
            <p>
                Equipment  Provided:  <br />
                <ul>
                    <li><b>Innovent: </b>  Air  Handlers  with  Energy  Recovery</b></li>
                    <li><b>Danfoss:</b> Variable Frequency Drives</li>
                </ul>
            </p>
            <p>
                Project  Note:  <br />
                These systems were provided  to  help  the  school  district  achieve  their  
          
increased  indoor  air  quality  standards,  while  still  maintaining  energy  
efficiency.
            </p>
        </div>
    </div>
        
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 8 of 10)</span>
        </div>
        <div class="cPic" style="background:none;">
            <img style="height:170px;margin-top:50px;" src="/images/BellevueMedicalCenter.jpg" />
        </div>
        <div class="cProjName">
           <span class="cClient">Bellevue Medical Center</span>
        </div>
        <div class="cProjDetails">            
            <p>
                Equipment  Provided:  <br />
                <ul>
                    <li><b>LJ Wing:</b> Make Up Air Units</li>
                    <li><b>Precision Air:</b> 'Lami-Air" operating room ceiling systems</li>
                    <li><b>Onicon:</b> In-Line Mag, Vortex Steam meters & Turbine Meters</li>
                    <li><b>Critical Room Control:</b> Room Pressure Monitors</li>
                </ul>
                Project  Note:  <br />
                Bellevue Medical Center has many 'green' design features and will be applying for LEED&trade; certification. Specialized Products will be providing the air testing needed to obtain the credit for LEED&trade; EQ 3.2  "Air Testing in Lieu of Flush Out" for this 200,000+sf facility. 
            </p>
        </div>
    </div>
        
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 9 of 10)</span>
        </div>
        <div class="cPic" style="background:none;">
            <img src="/images/MethodistHospital.jpg" />
        </div>
        <div class="cProjName">
           <span class="cClient">Methodist Women's Hospital</span>
        </div>
        <div class="cProjDetails">            
            <p>
                Equipment  Provided:  <br />
                <ul>
                    <li><b>LJ Wing:</b> Make Up Air Units</li>
                    <li><b>Onicon:</b> Steam meters & Turbine Meters</li>
                    <li><b>Critical Room Control:</b> Room Pressure Monitors  </li>
                    <li><b>Air Monitor:</b> Outside Air measuring Stations</li>
                </ul>
                Project Note: <br />
                This state of the art women's hospital boast CRC touch screen isolation room monitors throughout, Onicon flow meters to aid in the control of energy use, and Air Monitor outside air flow stations to ensure proper outdoor air intake for the occupants. 
            </p>
        </div>
    </div>
        
    <div class="cProj" style="display:none;">
        <div class="cTitle">
            Featured Projects <span style="font-size:.7em">(page 10 of 10)</span>
        </div>
        <div class="cPic" style="background:none;">
            <img src="/images/ICCC.jpg" />
        </div>
        <div class="cProjName" style="margin-top:-2em;">
           <span class="cClient">Iowa Central Community College Biotechnology &amp; Health Science</span>
        </div>
        <div class="cProjDetails">            
            <p>
                Equipment  Provided:  <br />
                <ul>
                    <li><b>Aircuity, Inc:</b> IAQ Monitoring &amp; Demand Control Ventilation</li>
                    <li><b>Phoenix Controls:</b> Laboratory Airflow &amp; Fume Hood Controls</li>
                </ul>
            
                Project Note: <br />
                Aircuity provided a means for increased lab safety by monitoring the air for TVOC, Particulate &amp; CO2, as an added benefit a great deal of energy savings is realized by communicating to the BMS when the air quality is safe to reduce air changes. The Phoenix Controls system provides less than a second speed of response to ensure the safest lab spaces possible, and allows for tremendous turndown to realize even greater energy savings working with Aircuity to know when the air is clean and safe. 
            </p>
        </div>
    </div>
        
</div>
<div id="divRightArrow">
    <a href="#"></a>
</div>
<script type="text/javascript">
           // $(function () {
           //                $('#divRightArrow').click(function () {
           //                    fTransition('.cProj', true);
           //                });
           // 
           //                $('#divLeftArrow').click(function () {
           //                    fTransition('.cProj', false);
           //                });
           //            });
</script>