<div id="divEmpHolder" class="cAnim">
  <div id="divTextHolder">
  <h1>
      Team SPI
  </h1>
    <ul>
    <li>Earl Luetkenhaus-&nbsp;President & CEO&nbsp;eluetkenhaus@spihvac.com&nbsp;402.880.2203</li>
    <li>Scott Luetkenhaus-&nbsp;Western Iowa sales territory manager&nbsp;sluetkenhaus@spihvac.com&nbsp;515.556.5834</li>
    <li>Tom Koeppel-&nbsp;Eastern Iowa sales territory manager&nbsp;Tkoeppel@spihvac.com&nbsp;515.554.2589</li>
    <li>Jon Theilen-&nbsp;Western Nebraska sales&nbsp;jtheilen@spihvac.com&nbsp;402.880.2205</li>
    <li>Rick Lochmiller-&nbsp;Eastern Nebraska sales&nbsp;rlochmiller@spihvac.com&nbsp;402.578.7175</li>
    <li>Jesse Diehm-&nbsp;Product/service and startup manager&nbsp;jdiehm@spihvac.com&nbsp;515.991.9752</li>
    <li>Brad Harmon-&nbsp;Inside Sales & Project Coordinator&nbsp;www.spihvac.com&nbsp;515.289.4747</li>
    <li>Muriel Johnson-&nbsp;Iowa and Nebraska Sales Assistant&nbsp;mjohnson@spihvac.com&nbsp;402.391.7550</li>
    <li>Jenny Jordan-&nbsp;Billing and office manager&nbsp;jjordan@spihvac.com&nbsp;402.391.7550</li>
    </ul>
    </div>
</div>