<div id="divLeftArrow">
    <a href="#"></a>
</div>
<div id="divEmpHolder" class="cAnim">
    <div class="cEmp">
        <div class="cPic">
            <img src="../images/becky.png" />
        </div>
        <div class="cName">
            Becky Webster
        </div>
        <div class="cEmail">
            <a href="mailto:bwebster@spihvac.com">bwebster@spihvac.com</a>
        </div>
        <div class="cDescription">
            <p>
                Becky started with SPI in 2006. Her primary focus is temperature control products 
                and she also enjoys working in the IAQ testing field. She is an active member of 
                the USGBC Flatwater Chapter and is also a member of ASHRAE, IAQA and 
                BOMA. Please give Becky a call to discuss your temperature control & IAQ needs 
                with Aircuity, Onicon, Air Monitor, Danfoss, CRC & more.  
            </p>
            <p>
                Featured Projects:<br />
                Bellevue Medical Center, Morrissey "4940" Building, and Methodist Women's Hospital
            </p>
        </div>
    </div>
    
    <div class="cEmp" style="display:none;">
        <div class="cPic">
            <img src="../images/earl.png" />
        </div>
        <div class="cName">
            Earl Luetkenhaus
        </div>
        <div class="cEmail">
            <a href="mailto:eluetkenhaus@spihvac.com">eluetkenhaus@spihvac.com</a>
        </div>
        <div class="cDescription">
            <p>
     Earl Luetkenhaus founded Specialized Products, Inc. in the fall of 1987. He is a 
long time ASHRAE member, and has deep roots in the HVAC representative 
industry. Over the years he has developed a great deal of experience with 
product applications for a multitude of critical environments such as 
laboratories, hospitals, pharmaceuticals, etc. 

            </p>
        </div>
    </div>
    
    <div class="cEmp" style="display:none;">
        <div class="cPic">
            <img src="../images/jon.png" />
        </div>
        <div class="cName">
            Jon Theilen
        </div>
        <div class="cEmail">
            <a href="mailto:jtheilen@spihvac.com">jtheilen@spihvac.com</a>
        </div>
        <div class="cDescription">
            <p>
     
Jon Theilen started at SPI in May 2004. He began working in estimating & now
manages the Internal Bid List.  He is also now in charge of maintaining SPI’s stock 
warehouse. He bids all the projects possible in Western Nebraska (anything west 
of Lincoln) and Northeast Nebraska/Sioux City (Columbus, Norfolk, South Sioux 
City/Sioux City). 
</p>
<p>
Featured Projects: <br />
UNK Bruner Hall of Science, Sidney New High School & Perkins County Health Center
            </p>
        </div>
    </div>
    <div class="cEmp" style="display:none;">
        <div class="cPic">
            <img src="../images/scott.png" />
        </div>
        <div class="cName">
            Scott Luetkenhaus
        </div>
        <div class="cEmail">
            <a href="mailto:sluetkenhaus@spihvac.com">sluetkenhaus@spihvac.com</a>
        </div>
        <div class="cDescription">
            <p>
     
Scott Luetkenhaus handles the entire Iowa territory.  He started with Specialized 
Products in Nebraska in 1999 as an inside salesman handling the sheet metal 
side of the product lines.  For the past few years he has lived in Des Moines, IA 
where he now heads up Specialized Products of Iowa. Scott is a member of 
Iowa ASHRAE as well as SMCI.  Some of the products he represents in Iowa are 
Phoenix Controls, M.K. Plastics, Gaylord Industries, Heat Pipe Technologies, Stulz 
and Aircuity.   
</p>
<p>
Featured Projects: <br />
Iowa State Hach Hall, Grinnell College Noyce Science Center & Central College Psychology Building  
            </p>
        </div>
    </div>
   
</div>

<div id="divRightArrow">
    <a href="#"></a>
</div>
    <script type="text/javascript">
//            $(function () {
//                $('#divRightArrow').click(function () {
//                    fTransition('.cEmp', true);
//                });
//                $('#divLeftArrow').click(function () {
//                    fTransition('.cEmp', false);
//                });
//            });
    </script>