<div id="divLeftArrow">
<a href="#"></a>
</div>

<div id="divProductHolder" class="cTextHolder cAnim">
<div class="cProduct">
  <h1>Nebraska <span style="font-size:.7em">(page 1 of 3)</span></h1>

  <ul>
    <li><a target="_blank" href="http://www.aircuity.com/Marketing/index.asp">Aircuity </a><span class="cDescription">indoor air quality &amp; building
    optimization</span></li>
   
     <li><a target="_blank" href="http://www.ambirad.com/index.php">Ambirad </a><span class="cDescription">radiant tube infa-red heating
    systems</span></li>
    
    <li><a target="_blank" href="http://www.appliedair.com/">Applied Air </a><span class="cDescription">make-up air &amp; air turnover
    units</span></li>
    



  </ul>

  <ul>
    
    <li><a target="_blank" href="http://www.blenderproducts.com/">Blender Products </a><span class="cDescription">Air
    Blender &amp; air stream destratifiers</span></li>
 
    <li><a target="_blank" href="http://www.danfoss.com/North_America/">Danfoss Graham </a><span class="cDescription">variable frequency
    drives</span></li>
    
    <li><a target="_blank" href="http://www.duoaire.com/Index.html">Duo-Aire </a><span class="cDescription">make-up air &amp; air turnover
    units</span></li>
    
    
    
  </ul>
</div>

<div class="cProduct" style="display:none;">
  <h1>Nebraska <span style="font-size:.7em">(page 2 of 3)</span> </h1>
  <ul>

    <li><a target="_blank" href="http://www.gaylordusa.com/">Gaylord Industries </a><span class="cDescription">kitchen hoods &amp; energy
    recovery units</span></li>

    <li><a target="_blank" href="http://www.heatpipe.com/">Heat Pipe Technology </a><span class="cDescription">dehumidifier &amp; energy
    recovery heat pipes</span></li>
    

    <li><a target="_blank" href="http://www.innoventair.com/index.html">Innovent </a><span class="cDescription">energy recovery units &amp; air handling
    systems</span></li>

    <li><a target="_blank" href="http://www.kineticsnoise.com/">Kinetics</a> <span class="cDescription">Sound Attenuators &amp; Acoustical Housings
    </span></li>
    
    <li><a href="http://www.lapinemetalproducts.com/" target="_blank">LaPine Metal Products</a> <span class="cDescription">round and oval spiral seam ductwork & fittings</span></li>
    
    <li><a href="http://www.ljwing.com/" target="_blank">L.J. Wing</a> <span class="cDescription">coils, make-up air units, circulators
    &amp; unit heaters</span></li>

</ul>
<ul>
      
    <li><a target="_blank" href="http://www.mason-ind.com/masonind/home/index.cfm">Mason Industries </a><span class="cDescription">vibration isolators &amp; flex
    connectors</span></li>
    
    <li><a target="_blank" href="http://www.nsgv.com/">NSGV <span style= "font-size:.7em;">(National System of Garage Ventilation)</span> </a><span class="cDescription">
    Gas / Diesel / Welding Source Capture Systems
    </span></li>
    
    <li><a target="_blank" href="http://www.phoenixcontrols.com/">Phoenix
    Controls</a> <span class="cDescription">fume hood &amp; isolation room controls
    &amp; valves</span></li>

    
    <li><a target="_blank" href="http://www.swegon.com">Swegon</a><span class="cDescription">
    quiet air diffusers and chilled beams
    </span></li>
    
    <li><a target="_blank" href="#">Triatomic Environmental</a><span class="cDescription">
    uv-c tubular rack systems
    </span></li>
    
  </ul>
</div>
<div class="cProduct" style="display:none;">
  <h1>Nebraska <span style="font-size:.7em">(page 3 of 3)</span></h1>

  

  <ul>
    
    <li><a target="_blank" href="http://www.paragoncontrols.com/">Paragon Controls</a> <span class="cDescription">air flow measuring stations</span></li>
  
    <li><a target="_blank" href="http://www.precisionairproducts.com/">Precision Air Products</a><span class="cDescription">Surgery &amp; isolation room air distribution systems</span></li>

    
    <li><a target="_blank" href="http://www.safeair-dowco.com/">Safe-Air / Dowco</a><span class="cDescription">dampers &amp;
    louvers</span></li>

    
    
</ul>
<ul>
    
    <li><a target="_blank" href="http://www.zipset.net/">Zip Set </a><span class="cDescription">Wireless Balancing Dampers
    </span></li>

  </ul>
</div>

</div>

<div id="divRightArrow">
<a href="#"></a>
</div>
<script type="text/javascript">
//     $(function () {
//         $('#divRightArrow').click(function () {
//             fTransition('.cProduct', true);
//         });
//         $('#divLeftArrow').click(function () {
//             fTransition('.cProduct', false);
//         });
//     });
    </script>
    
<!--<script type="text/javascript">
        $(function () {
            $('#divRightArrow').click(function () {
                $('.cProduct:visible').hide().next().show();
                if ($('.cProduct:visible').length == 0) {
                    $('.cProduct:first').show();
                }
            });
            $('#divLeftArrow').click(function () {
                $('.cProduct:visible').hide().prev().show();
                if ($('.cProduct:visible').length == 0) {
                    $('.cProduct:last').show();
                }
            });
        });
    </script>-!>