<div id="divLeft">
    <img alt="" src="images/specializedhomepagepicture.jpg" />
</div>
<div id="divRight">
    <p>
        Specialized Products was founded on the principles of 
        integrity, honesty, and hard work.  Our employees 
        continually work toward becoming the best team players 
        and leaders they can be.  Every member of the Specialized 
        Products team understands that only with constant self 
        improvement will they become an asset to the Design, 
        Construction and Building Management Industry that we  
        strive to serve each and every day.
    </p>
   <div id="divLogos">
    <a href="http://www.usgbc.org/">
    <img src="/images/usgbc.png" style="float:left;padding-left:10px;" />
    </a>
    <a href="http://www.iaqa.org/">
    <img src="/images/indoorairquality.png" style="float:left;padding-left:3px;" />
   </a>
    <a href="http://www.ashrae.org/">
    <img src="/images/ashrae.png" style="float:left;padding-left:3px;" />
   </a>
    <a href="http://www.boma.org/Pages/default.aspx">
    <img src="/images/boma.png" style="float:left;padding-left:3px;padding-top:3px;" />
   </a>
    </div>
</div>