<div id="divLeft">
    <img alt="" src="images/specializedhomepagepicture.jpg" />
</div>
<div id="divRight">
    <p>
        Specialized Products Company is a manufacturer's representative of Heating, 
        \Ventilating  and Air Conditioning equipment.  
        Our employees work with architects and engineers to design equipment 
        that is energy efficient and LEED compliant to provide the best indoor environment. 
        We provide service support, job site visits, engineering assistance, 
        and other services needed in the trade.  Specialized Products has been in 
        business for over 20 years and has a dedicated staff to assist in all of our 
        client's needs.
    </p>
   <div id="divLogos">
    <a href="http://www.usgbc.org/">
    <img src="/images/usgbc.png" style="float:left;padding-left:10px;" />
    </a>
    <a href="http://www.iaqa.org/">
    <img src="/images/indoorairquality.png" style="float:left;padding-left:3px;" />
   </a>
    <a href="http://www.ashrae.org/">
    <img src="/images/ashrae.png" style="float:left;padding-left:3px;" />
   </a>
    <a href="http://www.boma.org/Pages/default.aspx">
    <img src="/images/boma.png" style="float:left;padding-left:3px;padding-top:3px;" />
   </a>
    </div>
</div>