<div id="divTextHolder">
    <h1>
    Specialized  Services
    </h1>
    <p>
    Specialized  Products  goal  is  to  guarantee  that  all  of  its  customers  are  more  than  satisfied  with  the  
    functionality  and  efficiency  of  the  equipment  they  supply.  Therefore,  we  exclusively  contract  Specialized  
    Services,  LLC to  perform all  the  service,  air  and  water  balancing  and  start-ups  on  the  equipment  we  sell.  
    Through  on  going  factory  training,  Specialized  Services,  LLC provides  superior  product  knowledge  that  
    ensures  that  the  products  SPI  sells  are  handled  with  the  utmost  care  and  consideration  for  the  customer.
    </p>
    <p>
       Please  contact  Specialized  Services  for  all  of  your  service  needs  at:
       </p>
       
       <div class="cContact">
    <a href="mailto:Jason@specializedservicellc.com">Jason@specializedservicellc.com</a>   <br />
    402.871.9179
    </div>
       <div class="cContact">
    <a href="Rob@specializedservicellc.com">Rob@specializedservicellc.com</a><br />
    402.679.0175     
    </div>
</div>